python==3.10
torch==1.13.0
tqdm==4.62.3
torchvision 
tensorboardX 
medpy 
seaborn 
scipy
matplotlib
imageio
h5py
timm
einops
fvcore
segmentation_mask_overlay
thop
opencv-python-headless
einops
zeta